CLOUDFLARE_ACCOUNT_ID=replace-me
CLOUDFLARE_ACCOUNT_TOKEN_BOOTSTRAP=replace-me
CLOUDFLARE_ACCOUNT_TOKEN_BOOTSTRAP_ID=replace-me
CLOUDFLARE_DNS_API_TOKEN=replace-me
CLOUDFLARE_DNS_TOKEN_ID=replace-me
CLOUDFLARE_R2_API_TOKEN=replace-me
CLOUDFLARE_TOKEN_BOOTSTRAP=replace-me
CLOUDFLARE_TOKEN_BOOTSTRAP_ID=replace-me
CLOUDFLARE_ZONE_ID=replace-me
OVH_APPLICATION_KEY=replace-me
OVH_APPLICATION_SECRET=replace-me
OVH_CONSUMER_KEY=replace-me
OVH_ENDPOINT=ovh-eu
OVH_IPV4=135.125.175.57
OVH_SERVICE_NAME=vps-12045220.vps.ovh.net
TAILSCALE_OAUTH_CLIENT_ID=replace-me
TAILSCALE_OAUTH_CLIENT_SECRET=replace-me
